<div class="card" style="width: 18rem;"  *ngFor="let emp of employees;trackBy:trackByFn;">
    <div class="card-body">
      <h5 class="card-title">{{emp.fullName}}</h5>
      <p class="card-text">{{emp.address}}</p>
      <p class="card-text">{{emp.gender}}</p>
      <p class="card-text">{{emp.phoneNumber}}</p>
      <p class="card-text">{{emp.baseSalary}}</p>
      <p class="card-text">{{emp.birthDate}}</p>
      <p class="card-text">{{emp.contractDate}}</p>
      <p class="card-text">{{emp.arrival}}</p>
      <p class="card-text">{{emp.departure}}</p>
      <p class="card-text">{{emp.departmentName}}</p>
      <a href="#" class="btn btn-primary">Update</a>
      <button class="btn btn-primary" (click)="deleteEmployee(emp.id)">Delete</button>
    </div>
  </div>