<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="col-auto">
      <button class="btn bgMain txtMain" (click)="addEmployee()">
        Add Employee
      </button>
    </div>
    <div class="d-flex align-items-center">
      <input
        type="search"
        [(ngModel)]="searchText"
        class="form-control me-2"
        placeholder="Search"
      />
      <button type="button" class="btn bgMain txtMain">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Social Security Number</th>
        <th scope="col">Address</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Base Salary</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Contract Date</th>
        <th scope="col">Clock In</th>
        <th scope="col">Clock Out</th>
        <th scope="col">Department</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let emp of employees
            | filter : searchText
            | paginate
              : {
                  itemsPerPage: 7,
                  currentPage: page,
                  totalItems: totalLength
                };
          trackBy: trackByFn
        "
      >
        <td>{{ emp.fullName }}</td>
        <td>{{ emp.ssn }}</td>
        <td>{{ emp.address }}</td>
        <td>{{ emp.gender == 0 ? "Male" : "Female" }}</td>
        <td>{{ emp.phoneNumber }}</td>
        <td>{{ emp.baseSalary }}</td>
        <td>{{ emp.birthDate }}</td>
        <td>{{ emp.contractDate }}</td>
        <td>{{ emp.arrival }}</td>
        <td>{{ emp.departure }}</td>
        <td>{{ emp.departmentName }}</td>
        <td>
          <div
            class="d-flex flex-column flex-sm-row gap-2 justify-content-center"
          >
            <button class="btn bgMain txtMain" (click)="updateForm(emp)">
              <i class="fas fa-pencil-alt"></i>
            </button>
            <button
              class="btn btn-danger"
              (click)="openModal(template, emp.id)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div *ngIf="employees.length != 0" class="row mt-3 justify-content-end">
    <div class="col-lg-7">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>

  <!-- pop up to delete -->
  <br /><br />
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button
        type="button"
        class="btn btn-default btn-danger m-2"
        (click)="deleteEmployee(deleteemp)"
      >
        Yes
      </button>
      <button type="button" class="btn btn-primary" (click)="decline()">
        No
      </button>
    </div>
  </ng-template>
</div>
