<div class="container mt-5 text-center">
  <div class="d-flex align-items-center" *ngIf="selectedRole">
    <input
      type="search"
      [(ngModel)]="selectedRole.name"
      class="form-control me-2"
      style="width: 150px"
      placeholder="Search"
      disabled="true"
    />
  </div>

  <table class="table mt-3">
    <thead class="bgMain txtMain">
      <tr>
        <th scope="col" class="text-center">Pages</th>
        <th scope="col" class="text-center">Add</th>
        <th scope="col" class="text-center">Delete</th>
        <th scope="col" class="text-center">Edit</th>
        <th scope="col" class="text-center">View</th>
      </tr>
    </thead>
    <tbody *ngIf="allPermissions" class="text-center">
      <tr>
        <td>Employees</td>
        <td
          *ngFor="
            let box of allPermissions.roleClaims.slice(0, 4);
            let i = index
          "
        >
          <input type="checkbox" [(ngModel)]="box.isSelected" />
        </td>
      </tr>
      <tr>
        <td>Settings</td>
        <td
          *ngFor="
            let box of allPermissions.roleClaims.slice(4, 8);
            let i = index
          "
        >
          <input type="checkbox" [(ngModel)]="box.isSelected" />
        </td>
      </tr>
      <tr>
        <td>Attendance</td>
        <td
          *ngFor="
            let box of allPermissions.roleClaims.slice(8, 12);
            let i = index
          "
        >
          <input type="checkbox" [(ngModel)]="box.isSelected" />
        </td>
      </tr>
      <tr>
        <td>Salary</td>
        <td
          *ngFor="
            let box of allPermissions.roleClaims.slice(12, 16);
            let i = index
          "
        >
          <input type="checkbox" [(ngModel)]="box.isSelected" />
        </td>
      </tr>
    </tbody>
  </table>

  <button
    type="button"
    class="btn bgMain txtMain"
    (click)="updateRolePermission()"
  >
    Update Role
  </button>
</div>
