<div class="signIn-pg">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="w-50 mt-5">
      <form [formGroup]="signInForm" (ngSubmit)="login()" autocomplete="off">
        <h2 class="text-center text-primary text-black">Login</h2>
        <hr>
        <div class="mb-3">
          <input type="text" class="form-control" formControlName="email" placeholder="email">
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="text-center">
          <button class="btn btn-success me-2 bg-dark" type="submit">Login</button>
        </div>
      </form>

      <!-- <p>{{signInForm.value | json}}</p>
      <p>{{signInForm.status | json}}</p> -->
    </div>
  </div>
</div>
