<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Employee Time Tracking</div>
        <div class="card-body">
          <form
            #f="ngForm"
            (ngSubmit)="onSubmit()"
            [formGroup]="validationAttendece"
            class="form-container"
          >
            <!-- Employee Select -->
            <div class="form-group">
              <label for="employee">Employee:</label>
              <select
                id="employee"
                name="employee"
                class="form-control"
                [(ngModel)]="selectedEmpId"
                formControlName="employee"
              >
                <option value="" disabled selected>Select Employee</option>
                <option *ngFor="let emp of employees" [value]="emp.id">
                  {{ emp.fullName }}
                </option>
              </select>
              <div [hidden]="employee?.valid || employee?.untouched">
                <small
                  [hidden]="employee?.errors?.['requird']"
                  class="text-danger m-3"
                >
                  this field is requird
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="status">Status:</label>
              <select
                id="status"
                name="status"
                [(ngModel)]="attendance.status"
                formControlName="status"
                class="form-control"
                (change)="onStatusChange()"
              >
                <option value="" disabled selected>Select status</option>
                <option value="0">Present</option>
                <option value="1">Absent</option>
              </select>
              <div [hidden]="status?.valid || status?.untouched">
                <small
                  [hidden]="status?.errors?.['requird']"
                  class="text-danger m-3"
                >
                  this field is requird
                </small>
              </div>
            </div>

            <div *ngIf="isPresent">
              <div class="form-group">
                <label for="arrival">Clocked In:</label>
                <input
                  type="time"
                  id="arrival"
                  name="arrival"
                  class="form-control"
                  placeholder="HH:mm"
                  [(ngModel)]="attendance.arrival"
                  formControlName="arrival"
                />
                <div [hidden]="arrival?.valid || arrival?.untouched">
                  <small
                    [hidden]="arrival?.errors?.['requird']"
                    class="text-danger m-3"
                  >
                    this field is requird
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label for="departure">Clocked Out:</label>
                <input
                  type="time"
                  id="departure"
                  name="departure"
                  class="form-control"
                  placeholder="HH:mm"
                  [(ngModel)]="attendance.departure"
                  formControlName="deprture"
                />
                <div [hidden]="deprture?.valid || deprture?.untouched">
                  <small
                    [hidden]="deprture?.errors?.['requird']"
                    class="text-danger m-3"
                  >
                    this field is requird
                  </small>
                </div>
              </div>
            </div>

            <button type="submit" class="btn bgMain txtMain mt-3">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
