/* You can add global styles to this file, and also import other style files */
:root {
  --light: white;
  --dark: #155a7b;
  --medium: #a8d7ed;

  /* sidebar */
  --color-white: #fff;
  --color-body: #e4e9f7;
  --color-light: #e0e0e0;
}

.txtMain {
  color: var(--light) !important;
}

.txtSub {
  color: var(--dark) !important;
}

.bgMain {
  background-color: var(--dark) !important;
}

.bgSub {
  background-color: var(--medium) !important;
}

thead th {
  background-color: var(--dark) !important;
  color: var(--light) !important;
}

tr:hover td,
tr:hover th {
  background-color: var(--medium);
}
