<div class="col-md-8 col-lg-6 mx-auto mt-5">
  <div class="card shadow text-center">
    <div class="card-header">
      <div class="card-title">New Employee</div>
    </div>
    <div class="card-body">
      <form
        #f="ngForm"
        (ngSubmit)="onSubmit()"
        class="form-container"
        [formGroup]="validationEmployee"
        #form="ngForm"
      >
        <div class="row">
          <!-- Work Info -->
          <div class="col-lg-6">
            <h2 class="txtSub">Work Info</h2>
            <div class="form-group">
              <label for="address">Address:</label>
              <input
                type="text"
                id="address"
                name="address"
                [(ngModel)]="employeeDTO.address"
                class="form-control"
                placeholder="Enter address"
                formControlName="address"
              />
              <div>
                <small
                  *ngIf="(address?.errors?.['required'] && address?.touched) || (isSubmitted && address?.untouched)"
                  class="text-danger m-3"
                >
                  this field is required
                </small>
                <small
                  *ngIf=" address?.errors?.['pattern'] "
                  class="text-danger m-3"
                >
                  this field is required
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="phoneNumber">Phone Number:</label>
              <input
                type="tel"
                id="phoneNumber"
                name="phoneNumber"
                [(ngModel)]="employeeDTO.phoneNumber"
                class="form-control"
                placeholder="Enter phone number"
                formControlName="phoneNumber"
              />

              <div>
                <small
                  *ngIf="(phoneNumber?.errors?.['required'] && phoneNumber?.touched) || (isSubmitted && phoneNumber?.untouched)"
                  class="text-danger m-3"
                >
                  This field is required
                </small>
                <small
                  *ngIf="phoneNumber?.errors?.['pattern'] && (phoneNumber?.touched )"
                  class="text-danger m-3"
                >
                  phone number must be 11 digits (numbers only)
                </small>
                <small
                  *ngIf="phoneNumber?.errors?.['phoneNumberExists'] && (phoneNumber?.touched )"
                  class="text-danger m-3"
                >
                  phone
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="arrival">Clock In:</label>
              <input
                type="time"
                id="arrival"
                name="arrival"
                [(ngModel)]="employeeDTO.arrival"
                class="form-control"
                placeholder="HH:mm"
                formControlName="arrival"
              />
              <div>
                <small
                  *ngIf="(arrival?.errors?.['required'] && arrival?.touched) || (isSubmitted && arrival?.untouched)"
                  class="text-danger m-3"
                >
                  this field is required
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="departure">Clock Out:</label>
              <input
                type="time"
                id="departure"
                name="departure"
                [(ngModel)]="employeeDTO.departure"
                class="form-control"
                formControlName="departure"
              />
              <div>
                <small
                  *ngIf="(departure?.errors?.['required'] && departure?.touched) || (isSubmitted && departure?.untouched)"
                  class="text-danger m-3"
                >
                  this field is required
                </small>
              </div>
            </div>

            <!-- Department Select -->
            <div class="form-group">
              <label for="department">Department:</label>
              <select
                id="department"
                name="department"
                [(ngModel)]="selectedDepartment"
                class="form-control"
                formControlName="departmentName"
              >
                <option value="" disabled selected>Select Department</option>
                <option *ngFor="let dept of departments" [value]="dept.name">
                  {{ dept.name }}
                </option>
              </select>
              <div>
                <small
                  *ngIf="(departmentName?.errors?.['required'] && departmentName?.touched) || (isSubmitted && departmentName?.untouched)"
                  class="text-danger m-3"
                >
                  This field is required
                </small>
              </div>
            </div>
          </div>

          <!-- Personal Info -->
          <div class="col-lg-6">
            <h2 class="txtSub">Personal Info</h2>
            <div class="form-group">
              <label for="fullName">Full Name:</label>
              <input
                type="text"
                id="fullName"
                name="fullName"
                [(ngModel)]="employeeDTO.fullName"
                class="form-control"
                placeholder="Enter full name"
                formControlName="fullName"
              />
              <div>
                <small
                  *ngIf="(fullName?.errors?.['required'] && fullName?.touched) || (isSubmitted && fullName?.untouched)"
                  class="text-danger m-3"
                >
                  This field is required
                </small>
                <small
                  *ngIf="fullName?.errors?.['pattern'] && (fullName?.touched)"
                  class="text-danger m-3"
                >
                  Please enter a valid name (letters only)
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="gender">Gender:</label>
              <select
                id="gender"
                name="gender"
                [(ngModel)]="employeeDTO.gender"
                class="form-control"
                formControlName="gender"
              >
                <option value="" disabled selected>Select Gender</option>
                <option value="0">Male</option>
                <option value="1">Female</option>
              </select>
              <div>
                <small
                  *ngIf="(gender?.errors?.['required'] && gender?.touched) || (isSubmitted && gender?.untouched)"
                  class="text-danger m-3"
                >
                  this field is required
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="nationality">Nationality:</label>
              <select
                id="nationality"
                name="nationality"
                [(ngModel)]="employeeDTO.nationality"
                class="form-select"
                aria-label="Default select example"
                formControlName="nationality"
              >
                <option selected>Open this select menu</option>
                <option
                  *ngFor="let country of allCountries"
                  value="{{ country }}"
                >
                  {{ country }}
                </option>
              </select>
              <div>
                <small
                  *ngIf="(nationality?.errors?.['required'] && nationality?.touched) || (isSubmitted && nationality?.untouched)"
                  class="text-danger m-3"
                >
                  this field is required
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="birthDate">Birth Date:</label>
              <input
                type="date"
                id="birthDate"
                name="birthDate"
                [(ngModel)]="employeeDTO.birthDate"
                class="form-control"
                formControlName="birthDate"
              />
              <div>
                <small
                  *ngIf="(birthDate?.errors?.['required'] && birthDate?.touched) || (isSubmitted && birthDate?.untouched)"
                  class="text-danger m-3"
                >
                  this field is required
                </small>
                <small
                  *ngIf="birthDate?.errors?.['minAge']"
                  class="text-danger m-3"
                >
                  Employee must be at least 20 years old
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="contractDate">Contract Date:</label>
              <input
                type="date"
                id="contractDate"
                name="contractDate"
                [(ngModel)]="employeeDTO.contractDate"
                class="form-control"
                formControlName="contractDate"
              />
              <div>
                <small
                  *ngIf="(contractDate?.errors?.['required'] && contractDate?.touched) || (isSubmitted && contractDate?.untouched)"
                  class="text-danger m-3"
                >
                  This field is required
                </small>
                <small
                  *ngIf="contractDate?.errors?.['invalidContractDate'] && (contractDate?.touched )"
                  class="text-danger m-3"
                >
                  Please enter a valid contract date
                </small>
              </div>
            </div>

            <div class="form-group">
              <label for="baseSalary">Base Salary:</label>
              <input
                type="number"
                id="baseSalary"
                name="baseSalary"
                [(ngModel)]="employeeDTO.baseSalary"
                class="form-control"
                placeholder="Enter base salary"
                formControlName="baseSalary"
              />

              <div>
                <small
                  *ngIf="(baseSalary?.errors?.['required'] && baseSalary?.touched) || (isSubmitted && baseSalary?.untouched)"
                  class="text-danger m-3"
                >
                  This field is required
                </small>
                <small
                  *ngIf="baseSalary?.errors?.['pattern'] && (baseSalary?.touched )"
                  class="text-danger m-3"
                >
                  enter valid salary
                </small>
                <small
                  *ngIf="baseSalary?.errors?.['nonZeroViolation'] && (baseSalary?.touched )"
                  class="text-danger m-3"
                >
                  cant be zero
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="SSN">Social Security Number:</label>
              <input
                type="number"
                id="SSN"
                name="SSN"
                [(ngModel)]="employeeDTO.ssn"
                class="form-control"
                placeholder="Enter Social Security Number"
                formControlName="ssn"
                maxlength="14"
                minlength="14"
              />
              <div>
                <small
                  *ngIf="(ssn?.errors?.['required'] && ssn?.touched) || (isSubmitted && ssn?.untouched)"
                  class="text-danger m-3"
                >
                  This field is required
                </small>
                <small
                  *ngIf="ssn?.errors?.['pattern'] && (ssn?.touched )"
                  class="text-danger m-3"
                >
                  SSN must be 14 numbers
                </small>
              </div>
            </div>
          </div>
        </div>

        <!-- Submit Button -->
        <!-- [disabled]="validationEmployee.invalid" -->
        <button type="submit" class="btn bgMain txtMain mt-3">
          Add Employee
        </button>
      </form>
    </div>
  </div>
</div>
