

<h1 class="text-center">Add DayOff Days</h1>
<hr>
<div class="container">
    <form class="my-5" (submit)="onAddSubmit()">
        <label for="Name">name</label>
        <input id="Name" name="name" type="text" placeholder="name" class="form-control m-2" [(ngModel)]="formDataAdd.name">
        <label for="date">date</label>
        <input type="date" name="date" id="date" placeholder="date" class="form-control m-2" [(ngModel)]="formDataAdd.date">
        <input type="submit" value="add date" class="btn btn-primary m-3">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">name</th>
                <th scope="col">date</th>
                <th scope="col">operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of daysOffList; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.date }}</td>
                <td>
                    <a class="btn btn-danger" (click)="deleteDayOff(item.date)">delete</a>
                    <a class="btn btn-warning mx-3" (click)="showUpdateForm(item)">update</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Popup form for update -->
<div id="popupForm" class="popupForm">
    <h2>Update DayOff</h2>
    <form (submit)="onUpdateSubmit()">
        <label for="updateName">Name</label>
        <input id="updateName" type="text" [(ngModel)]="formDataUpdate.name" name="name" required>
        <label for="updateDate">Date</label>
        <input id="updateDate" type="date" [(ngModel)]="formDataUpdate.date" name="date" readonly>
        <button type="submit" class="btn btn-primary">Confirm</button>
        <button type="button" (click)="closeForm()" class="btn btn-danger">Cancel</button>
    </form>
</div>
