<div class="container my-5">
  <div class="row">
    <!-- Input Fields Column -->
    <div class="col-lg-4 px-4 text-center">
      <div class="card shadow">
        <div class="card-header"><div class="card-title">Holidays</div></div>
        <div class="card-body">
          <form
            class="my-1"
            (submit)="onAddSubmit()"
            [formGroup]="validationHolidays"
          >
            <label for="Name">Name</label>
            <input
              id="Name"
              name="name"
              type="text"
              placeholder="name"
              class="form-control m-2"
              [(ngModel)]="formDataAdd.name"
              formControlName="name"
            />
            <div [hidden]="name?.valid || name?.untouched">
              <small class="text-danger" [hidden]="name?.errors?.['requird']"
                >this field is requird</small
              >
            </div>
            <label for="date">Date</label>
            <input
              type="date"
              name="date"
              id="date"
              placeholder="date"
              class="form-control m-2"
              [(ngModel)]="formDataAdd.date"
              formControlName="date"
            />
            <div [hidden]="date?.valid || date?.untouched">
              <small
                class="text-danger m-3"
                [hidden]="date?.errors?.['requird']"
                >this field is requird</small
              >
            </div>

            <input
              type="submit"
              value="Add"
              class="btn bgMain txtMain m-3"
              [disabled]="validationHolidays.invalid"
            />
          </form>
        </div>
      </div>
    </div>
    <!-- Table Column -->
    <div class="col-lg-8">
      <div class="d-flex justify-content-end align-items-center mb-4">
        <div class="d-flex align-items-center">
          <input
            type="text"
            class="form-control me-2"
            placeholder="Search"
            aria-label="Search"
            [(ngModel)]="searchText"
          />
          <button type="button" class="btn bgMain txtMain">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Handles</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of daysOffList
                | filter : searchText
                | paginate
                  : {
                      itemsPerPage: 7,
                      currentPage: page,
                      totalItems: totalLength
                    };
              let i = index
            "
          >
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.date }}</td>
            <td>
              <div
                class="d-flex flex-column flex-sm-row gap-2 justify-content-center"
              >
                <a class="btn bgMain txtMain" (click)="showUpdateForm(item)"
                  ><i class="fa-solid fa-pen"></i
                ></a>
                <a
                  class="btn btn-danger"
                  (click)="openModal(template, item.date)"
                  ><i class="fa-solid fa-trash"></i
                ></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Pagination -->
  <div *ngIf="daysOffList.length != 0" class="row mt-3 justify-content-end">
    <div class="col-lg-5">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>

<!-- Popup form for update -->
<div id="popupForm" class="popupForm">
  <form (submit)="onUpdateSubmit()">
    <label for="updateName">Name</label>
    <input
      id="updateName"
      type="text"
      [(ngModel)]="formDataUpdate.name"
      name="name"
      required
    />
    <label for="updateDate">Date</label>
    <input
      id="updateDate"
      type="date"
      [(ngModel)]="formDataUpdate.date"
      name="date"
      readonly
    />
    <div class="row">
      <div class="col-lg-6 mb-3 mb-lg-0">
        <button type="submit" class="btn btn-primary w-100">Confirm</button>
      </div>
      <div class="col-lg-6">
        <button
          type="button"
          (click)="closeForm()"
          class="btn btn-danger w-100"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
<br /><br />
<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button
      type="button"
      class="btn btn-default btn-danger m-2"
      (click)="deleteDayOff(deletDay)"
    >
      Yes
    </button>
    <button type="button" class="btn btn-primary" (click)="decline()">
      No
    </button>
  </div>
</ng-template>
