<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="card shadow">
        <div class="card-header">
          <h5 class="card-title text-center">Attendance Settings</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="validationSetting">
            <div class="row">
              <!-- Overtime Section -->
              <div class="col-lg-8">
                <div class="card">
                  <div class="card-header">
                    <h6 class="card-title">Overtime Settings</h6>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="commissionType">Method</label>
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        [(ngModel)]="settings.commissionDTO.type"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="onComissionTypeChange()"
                      >
                        <option disabled>Select an option</option>
                        <option [value]="0">Hours</option>
                        <option [value]="1">Money</option>
                      </select>
                    </div>
                    <div *ngIf="isComissionHours" class="form-group">
                      <label for="commissionHours">Hours</label>
                      <input
                        type="number"
                        class="form-control"
                        id="commissionHours"
                        name="commissionHours"
                        [(ngModel)]="settings.commissionDTO.hours"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                    <div *ngIf="!isComissionHours" class="form-group">
                      <label for="commissionAmount">Amount</label>
                      <input
                        type="number"
                        class="form-control"
                        id="commissionAmount"
                        name="commissionAmount"
                        [(ngModel)]="settings.commissionDTO.amount"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                  </div>
                </div>

                <!-- Deduction Section -->

                <div class="card mt-4">
                  <div class="card-header">
                    <h6 class="card-title">Deduction Settings</h6>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="deductionType">Method</label>
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        [(ngModel)]="settings.deductionDTO.type"
                        [ngModelOptions]="{ standalone: true }"
                        (change)="onDeductionTypeChange()"
                      >
                        <option disabled>Select an option</option>
                        <option [value]="0">Hours</option>
                        <option [value]="1">Money</option>
                      </select>
                    </div>
                    <div *ngIf="isDeductionHours" class="form-group">
                      <label for="deductionHours">Hours</label>
                      <input
                        type="number"
                        class="form-control"
                        id="deductionHours"
                        name="deductionHours"
                        [(ngModel)]="settings.deductionDTO.hours"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                    <div *ngIf="!isDeductionHours" class="form-group">
                      <label for="deductionAmount">Amount</label>
                      <input
                        type="number"
                        class="form-control"
                        id="deductionAmount"
                        name="deductionAmount"
                        [(ngModel)]="settings.deductionDTO.amount"
                        [ngModelOptions]="{ standalone: true }"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <!-- Checkboxes Section -->
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-header">
                    <h6 class="card-title">Weekly days off</h6>
                  </div>
                  <div class="card-body">
                    <div class="row row-cols-1">
                      <div
                        *ngFor="let day of daysOfWeek; trackBy: trackByIdx"
                        class="col"
                      >
                        <label>
                          <input
                            type="checkbox"
                            [value]="day.value"
                            [(ngModel)]="day.state"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="onCheckboxChange($event, day.value)"
                          />
                          {{ day.name }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="row mt-3 text-center">
              <div class="col">
                <button type="submit" class="btn bgMain txtMain">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
