<div class="container mt-5">
  <h2 class="text-center mb-4 txtSub">Add new Admin</h2>
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="card shadow">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input
                type="text"
                class="form-control"
                id="fullName"
                placeholder=""
              />
            </div>

            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder=""
              />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder=""
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" />
            </div>

            <div class="mb-3">
              <label for="roles" class="form-label">Role</label>
              <select class="form-select" id="roles">
                <option selected>Choose a role...</option>
                <option value="admin">Admin</option>
                <option value="editor">Editor</option>
              </select>
            </div>

            <div class="text-center">
              <button type="submit" class="btn bgMain txtMain">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
